<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeStudy"
        tools:targetApi="31">
        <activity
            android:name=".Animation2Activity"
            android:exported="true"
            android:label="@string/title_activity_animation2"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AnimationActivity"
            android:exported="true"
            android:label="@string/title_activity_animation"
            android:theme="@style/Theme.ComposeStudy">


            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".StateHoistingActivity"
            android:exported="true"
            android:label="@string/title_activity_state_hoisting"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BottomAppBarActivitiy"
            android:exported="true"
            android:label="@string/title_activity_bottom_app_bar_activitiy"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SnackBarActivity"
            android:exported="true"
            android:label="@string/title_activity_snack_bar"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DropDownActivity"
            android:exported="false"
            android:label="@string/title_activity_drop_down"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CustomDialogActivity"
            android:exported="false"
            android:label="@string/title_activity_custom_dialog"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DialogActivity"
            android:exported="true"
            android:label="@string/title_activity_dialog"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CanvasActivity"
            android:exported="false"
            android:label="@string/title_activity_canvas"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ConstraintLayoutUpActivity"
            android:exported="false"
            android:label="@string/title_activity_constraint_layout_up"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BarrierAndChainActivity"
            android:exported="false"
            android:label="@string/title_activity_barrier_and_chain"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ConstraintSetActivity"
            android:exported="false"
            android:label="@string/title_activity_constraint_set"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ConstraintLayoutActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeStudy">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>